/* Animación Hero */
img {
  filter: brightness(1.1) saturate(1.1);
}

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 60s linear infinite;
}
@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 60s linear infinite;
}
